.text {
    max-width: 1000px;
    margin-right: auto;
    text-align: justify;
  }
  .border {
    border: 2px solid;
    text-align: center;
    background-color: rgb(201, 114, 15);
  }
  .main {
    font-family: 'Roboto Mono', monospace; 
  }
  .aside {
    width: 20%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
  }
 
